/* carousel */
.carousel-inner{
    max-height: 300px;
    margin-bottom: 10px;
}

/* cards */
.card img{
    overflow: hidden;
    max-width: 100%;
}

/* section */
section img{
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 20px;
}

.section{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer */
footer{
    margin-top: 20px;
}

