/* nav */

/* header{
    margin-top: 0;
    margin-left: 0;
} */

/* carousel */
.carousel-inner{
    max-height: 300px;
    margin-bottom: 10px;
}

/* @media (max-width: 430px) {
    .carousel {
        max-width: 360px;
    }
} */


/* cards */
.card img{
    overflow: hidden;
    max-width: 100%;
}

/* section */
section img{
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 20px;
}

.section{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer */
footer{
    margin-top: 20px;
}

