
.card img{
    overflow: hidden;
    max-width: 100%;
}

.carousel-inner{
    max-height: 300px;
    margin-bottom: 10px;
}

/* @media screen and (min-width 560px) {
    align-items: columns: 2;
} */

@media screen and (min-width: 560px) {
    .card {
        column-count: 2;
    }
}